<?xml version="1.0"?>
<robot name="mulinex" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find mulinex_description)/urdf/links.xacro" />
    <xacro:include filename="$(find mulinex_description)/urdf/leg.xacro" />
    <xacro:include filename="$(find mulinex_description)/urdf/material.xacro" />
   
    <xacro:arg name="use_gazebo" default="true" />
    <xacro:arg name="simplify_meshes_lower_leg" default="true"/>
    <xacro:arg name="add_wheels" default="false"/>
    <xacro:arg name="jnt_prefix" default="" />
    <xacro:arg name="hind_haa" default="0.0" />
    <xacro:arg name="RH_HFE" default="0.0" />
    <xacro:arg name="RH_KFE" default="0.0" />
    <xacro:arg name="front_haa" default="0.0" />
    <xacro:arg name="RF_HFE" default="0.0" />
    <xacro:arg name="RF_KFE" default="0.0" />

    <xacro:arg name="LH_HFE" default="0.0" />
    <xacro:arg name="LH_KFE" default="0.0" />
    <xacro:arg name="LF_HFE" default="0.0" />
    <xacro:arg name="LF_KFE" default="0.0" />

    <link name="$(arg jnt_prefix)base_link">
        <visual>
            <material name="white" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="${mulinex_base}" />
                <!-- <box size="0.353 0.090 0.066" /> -->
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.353 0.090 0.066" />
            </geometry>
        </collision>
        <inertial>
            <mass value="1.3008737" />
            <origin xyz="-1.4565496e-03 -2.5110071e-03 -4.2484136e-03" rpy="0 0 0" />
            <inertia ixx="4.0762590e-03" ixy="-2.5234809e-05" ixz="-3.2587794e-06"
                iyy="9.2413606e-03" iyz="-8.0660183e-06"
                izz="1.2268730e-02" />
        </inertial>
    </link>

    <xacro:leg
        prefix="LH"
        gazebo="$(arg use_gazebo)"
        jnt_pref="$(arg jnt_prefix)"
        simplify_meshes="$(arg simplify_meshes_lower_leg)" 
        wheels="$(arg add_wheels)" />
    <xacro:leg
        prefix="LF"
        gazebo="$(arg use_gazebo)"
        jnt_pref="$(arg jnt_prefix)"
        simplify_meshes="$(arg simplify_meshes_lower_leg)"
        wheels="$(arg add_wheels)" />
    <xacro:leg
        prefix="RF"
        gazebo="$(arg use_gazebo)"
        jnt_pref="$(arg jnt_prefix)"
        simplify_meshes="$(arg simplify_meshes_lower_leg)"
        wheels="$(arg add_wheels)" />
    <xacro:leg
        prefix="RH"
        gazebo="$(arg use_gazebo)"
        jnt_pref="$(arg jnt_prefix)"
        simplify_meshes="$(arg simplify_meshes_lower_leg)"
        wheels="$(arg add_wheels)" />

    <xacro:if value="$(arg use_gazebo)">
        <xacro:include filename="$(find mulinex_description)/urdf/mulinex_gazebo.xacro"/>
    </xacro:if>
</robot>